<div class="container mt-4">
  <h2 class="text-center">Changer Mot de Passe</h2>

  <form [formGroup]="frm" (ngSubmit)="changerpass()" class="row justify-content-center">
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Mot de passe actuelle :</label>
      <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Nouvelle mot de passe :</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmer mot de passe :</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
    </div>

    <div class="mb-3"> 
      <button type="submit" [disabled]="!frm.valid" class="btn btn-outline-info">Change Mot de passe</button>
    </div>
  </form>
</div>