<app-menu></app-menu>

 <section class="s1 image3">
  <br> <br> <br> <br>
  <h1 class="title text-center">NOS EVENEMENTS!</h1>
 

  <nav class="d-flex justify-content-center navin">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button class="nav-link  " (click)="onweekly()">Hebdomadaire</button>
      </li>
      <li class="nav-item">
        <button class="nav-link " (click)="onmonthly()">Mensuel</button>
      </li>
    </ul>
  </nav>

  
    <router-outlet></router-outlet>


</section>