
.image3{
  background-image: url("src/assets/img10.jpeg");
    background-size: cover;
    height: auto;
    background-position: center;
    top: 0px;
    left: 0;
    
  }
  
  .title{
  
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    }
  
  .event-image {
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    position: relative;
    border-radius: 15px;
  height: 300px;
  margin-bottom: 20px; 
  
    background-size: cover;
  }
  .text-content {
    margin-left: 20px; 
    font-family: cursive;
  }
    
  .name{
    font-weight: bold;
  }
  
  
  .event-details{
    color: white;
    width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 20px; 
  
  
  }
  button{
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background-color: rgba(49, 10, 107, 0.95)
  }
  .addition{
    background-color: rgba(196, 175, 175, 0.185);
  }
  .logo{
    height: 50px;
    width: 50px;
  }


   /*pub*/
.advertisement-container {
  max-height: 250px; 
  max-width: 250px;
  overflow-y: auto;
  color: #ddd;
  
}

.advertisement {
  color: #ddd;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 250px;

}
.ad{
  position: absolute;
  margin-bottom: 800px;
}

@media only screen and (max-width: 767px) {
  .event-details {
    padding: 10px;
    width: 100%; 
  }

  .event-image {
    background-size: cover;
    height: 200px; 
    border-radius: 10px; 
  }

  .text-content {
    font-size: small;
    margin-left: 10px; 
  }

  .name {
    font-size: 1.2em; 
    font-weight: normal; 
  }

  button {
    font-size: 1.2rem; 
  }

  .advertisement-container {
    max-height: 250px; 
    overflow-y: auto;
    color: #ddd;
    margin-top: 10px; 
  }

  .advertisement {
    color: #ddd;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 250px;
  }
  .ad{
    position: absolute;
    margin-top: 750px;
  }
  .search-box {
    width: 80%; 
  }
  
  .search-box button {
    padding: 5.9px;
    background-color: purple;
    color: white;
    border-radius: 50%; 
  }
  
}

/* search bar */
 input[type=text] {
  color: white;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search-box {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center; 
  margin: 10px auto; 
  padding: 0.25%;
  height: 50px;
  border-radius: 40px;   
}

.search-box input {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  width: 10px;
  transition: 0.8s;
}

.search-box:hover input {
  width: 100px;
}

.search-box button {
  padding: 5.9px;
  background-color: purple;
  color: white;
  border-radius: 65%;
  cursor: pointer;
}