<footer>
  <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="image" src="assets\img1.png" alt="STAC Logo" (click)="onhome()">
      <br>
      <em class="quote">“Is it life, or is it Event?”</em>
    </div>
    <div class="col-md-4">
      <h4 class="follow">Follow Us</h4>
      <ul class="social-links">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-4">
 <h4 class="question mb-3">Have a question?</h4>

  <h6><a class="nav-link contact " routerLink="/contact">Contact Us </a></h6>
    </div>

    <div >
      <h5 class="map">Find Us!</h5>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817313.6374451225!2d8.991928578124988!3d36.85130300000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3532056d986d%3A0x36f5072f8a82c006!2sISET%20Charguia!5e0!3m2!1sen!2stn!4v1700845397845!5m2!1sen!2stn" width="150" height="100" style="border:0 ;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
    
  </div>
  <div class="row copyright">
    <div class="col-lg-4">
      <br>
      <p>Copyright &copy; 2023 STAC by Takwa&Essisa All Rights Reserved.</p>
    </div>
  </div>
</div>
</footer>