<!-- la navbar -->
<nav class="navbar">
    <ul class="links">
        <li><a routerLink="/home"> Home</a></li>
        <li class="dropdown ">
            <a class="dropbtn dropdown-toggle" routerLink="/eventsandacts">Events & Activities</a>
            <div class="dropdown-content">
                <a routerLink="/eventsandacts/monthlyevents">Monthly Events</a>
                <a routerLink="/eventsandacts/weeklyactivities">Weekly Activities</a>
            </div>
        </li>
        <li><img src="assets/img1.png" alt="Logo" class="logo"></li>
        <li><a routerLink="/contact"> Contact</a></li>
        <li><a routerLink="/aboutus"> About Us</a></li>
    </ul>
    <img src="assets/img2.png" class="minimenu">
    
    <button type="button" class=" neon-background-button b1" routerLink="/login" > LOGIN</button>
</nav>